# build directory
build/
# but track these specific files in build
!build/*.iso
!build/*.bin

iso/boot/kernel.bin

# virtual storage disks
# hdd.img is tracked (remove from ignore)
# *.img  (we'll be more specific)

# logs
qemu.log

# vs code
.vscode/
.vscode-test/
# ctags
tags
# cscope
cscope.*